<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EngGo">
        <activity
            android:name=".LoginActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".BaseActivity"
            android:exported="false"/>
        <activity
            android:name=".HomeActivity"
            android:exported="false"/>
        <activity
            android:name=".CourseActivity"
            android:exported="false"/>
        <activity
            android:name=".MenuActivity"
            android:exported="false"/>
        <activity
            android:name=".EditInformationActivity"
            android:exported="false"/>
        <activity
            android:name=".ProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".NotificationActivity"
            android:exported="false"/>
        <activity
            android:name=".ClassActivity"
            android:exported="false"/>
        <activity
            android:name=".ChangeAvatarActivity"
            android:exported="false"/>
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"/>
        <activity
            android:name=".SubmitHomeworkActivity"
            android:exported="false"/>
        <activity
            android:name=".BaseAdminActivity"
            android:exported="false"/>
        
        <activity
            android:name=".HomeAdminActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ManageCoursesAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".ManageAccountAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".ManageLessonsAdminActivity"
            android:exported="false"/>
        <activity
            android:name="EditLessonAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".CreateCourseAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".AddUserAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".AvailableUserAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".CoursesParticipantAdmin"
            android:exported="false"/>
        <activity
            android:name=".AddNewLessonAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".ManageReportsAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".AssignmentsManagementAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".AddAssignmentAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".EditAssignmentAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".EditCourseAdminActivity"
            android:exported="false"/>

    </application>

</manifest>