<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EngGo"
        android:usesCleartextTraffic="true">


        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />


        <activity
            android:name=".user.HomeUserActivity"
            android:exported="false"/>
        <activity
            android:name=".user.CourseUserActivity"
            android:exported="false"/>
        <activity
            android:name=".user.MenuUserActivity"
            android:exported="false"/>
        <activity
            android:name=".user.EditInformationUserActivity"
            android:exported="false"/>
        <activity
            android:name=".user.ProfileUserActivity"
            android:exported="false"/>
        <activity
            android:name=".user.NotificationUserActivity"
            android:exported="false"/>
        <activity
            android:name=".user.ClassUserActivity"
            android:exported="false"/>
        <activity
            android:name=".common.ChangeAvatarActivity"
            android:exported="false"/>
        <activity
            android:name=".auth.ChangePasswordActivity"
            android:exported="false"/>
        <activity
            android:name=".user.SubmitHomeworkUserActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.HomeAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.MenuAdminActivity"
            android:exported="false"/>


        <activity
            android:name=".user.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".admin.ManageCoursesAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.ManageAccountAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.ManageLessonsAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.EditLessonAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.CreateCourseAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.AddUserAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.AvailableUserAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.CoursesParticipantAdmin"
            android:exported="false"/>
        <activity
            android:name=".admin.AddNewLessonAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.ManageReportsAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.AssignmentsManagementAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.AddAssignmentAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.EditAssignmentAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.EditCourseAdminActivity"
            android:exported="false"/>
        <activity
            android:name=".admin.EditUserAdminActivity"
            android:exported="false"/>

        <!-- Teacher Activities -->
        <activity
            android:name=".teacher.HomeTeacherActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.MenuTeacherActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.ManageCoursesTeacherActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.GradingSubmissionActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.ClassCourseActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.ReportTeacherActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.ScheduleTeacherActivity"
            android:exported="false"/>

        <activity
            android:name=".teacher.SubmissionListActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.EditUserTeacherActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.AddAssignmentTeacherActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.ManageAssignmentsTeacherActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.AddLessonTeacherActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.ManageLessonsTeacherActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.EditLessonTeacherActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.EditAssignmentTeacherActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.CourseStudentsTeacherActivity"
            android:exported="false"/>
        <activity
            android:name=".teacher.AssignmentsForSubmissionsTeacherActivity"
            android:exported="false"/>

    </application>

</manifest>
