server:
  port: 9090
  servlet:
    context-path: /api

spring:
  config:
    import: optional:file:.env[.properties],optional:file:env[.properties]
  datasource:
    url: jdbc:postgresql://192.168.1.35:5432/nt118_db
    username: nt118_user
    password: 'nt118_db'
    hikari:
      data-source-properties:
        TimeZone: UTC
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

    database-platform: org.hibernate.dialect.PostgreSQLDialect
